* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #011f3c;
  height: 100vh;
  margin-top: 200px;
  margin-left: 100px;
}

.title {
  color: #fff;
}

.title span {
  display: block;
  color: #0c8261;
  border-bottom: 3px solid #0c8261;
  padding-bottom: 10px;
  width: 290px;
}

.password-area {
  margin-top: 20px;
  width: 500px;
  font-size: 20px;
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  background-color: #0c8261;
  border-radius: 2px;
  display: block;
}

i {
  margin-right: 5px;
}

#copy {
  color: #0c8261;
  align-self: right;
  background-color: #fff;
  padding: 13px;
  border-radius: 0 3px 3px 0;
  margin-top: 20px;
  margin-left: -5px;
  border-left: 1px solid lightgrey;
  font-size: 19px;
}

span:hover {
  color: #555;
}
#password {
  display: inline-block;
}

.password-container {
  display: flex;
  justify-content: start;
  align-items: start;
}
